<div class="profile">
	
	<div class="photo">
		<%= image_tag "baker-2.gif", class: "pic"%>
	</div>

	<div class="titles">
		<h4>Paul Baker</h4>
		<p><strong>Webitects - CEO</strong></p>
		<p><strong>Open Data Institute Chicago - Co-Founder</strong></p>
		<p><strong>Open City</strong></p>
	</div>
</div>

<div class="statement">
	<p>
		The creation of the Internet was largely a publicly-funded project that brought together government, academic, and industry expe...<%= link_to "Read More", welcome_path(6)%>
	</p>
</div>
