<div class="popup-header">
	<%= image_tag "baker.png", class: "pic"%>
	<h2>Paul Baker</h2>
	<h3>Webitects</h3>
</div>

<p>
	The creation of the Internet was largely a publicly-funded project that brought together government, academic, and industry experts to provide efficient, universal ways to network machines and people. From the beginning it was conceived of as the “Open Internet” and access as a fundamental right of citizens.
</p>

<p>
	Now, cable companies that control the Internet’s
 ”on ramps” want to give priority to content companies that pay them more money. This is especially problematic because Comcast has recently bought NBC Universal, a large content company.
</p>

<p>
	An FCC decision in cable companies’ favor will
  raise consumer prices, stifle innovation, reduce the competitiveness of the US economy, and hurt US-based internet startups. Instead, the FCC should act in the tradition of the Open Internet and in the best interests of society as a whole and reclassify internet
  broadband as a “Title II” public communications utility—like telephone, electricity, power, or water—to ensure equal access.
</p>

<p>
	A bad decision now could very well lead to a future in which access to websites is doled out in groups in much the same way as cable services maximize profits by grouping television channels into high-priced packages.
</p>