<div class="profile">
	
	<div class="photo">
		<%= image_tag "baker.png", class: "pic"%>
	</div>

	<div class="titles">
		<h4>Paul Baker</h4>
		<h6>Webitects - CEO</h6>
		<h6>Open Data Institute Chicago - Co-Founder</h6>
		<h6>Open City</h6>
	</div>
</div>

<div class="statement">
	<p>
		The creation of the Internet was largely a publicly-funded project that brought together government, academic, and industry experts to provide efficient, universal ways to network machines and people. From the beginning it was conceived of as the “Open Internet” and access as a fundamental right of citizens.
	</p>
</div>