<div class="profile">
	
	<div class="photo">
		<%= link_to welcome_path(8) do %>
			<%= image_tag "baker-2.gif", class: "pic"%>
		<% end %>
	</div>

	<div class="titles">
		<h4>Paul Baker</h4>
		<p>Webitects - CEO</p>
		<p>Open Data Institute Chicago - Co-Founder</p>
	</div>
</div>

<div class="statement">
	<p>
		"An FCC decision in cable companies’ favor will
	  raise consumer prices, stifle innovation, reduce the competitiveness of the US economy, and hurt US-based internet startups. Instead, the FCC should act in the tradition of the Open Internet and in the best interests of society as a whole...<%= link_to "Read More", welcome_path(8)%>
	</p>
</div>
