<div class="profile">
	<div class="photo">
		<%= image_tag "benton.png", class: "pic", alt: "Charles Benton"%>
	</div>

	<div class="titles">
		<h4>Charles Benton</h4>
		<p>Benton Foundation - Chairman</p>
	</div>
</div>

<div class="statement">
	<p>
		“The Benton Foundation strongly supports the use of Title II as a basis to create clear rules that will ensure access to a fair and open Internet.  The Internet is a critical medium that provides economic, educational, cultural and civic opportunities to low income, minority, and isolated communities and the FCC must protect against restrictions that could chill or curtail the use of the Internet by our most vulnerable communities."
	</p>
</div>