<div class="profile">
	<div class="photo">
		<%= image_tag "biss.png", class: "pic"%>
	</div>

	<div class="titles">
		<h4>Senator Daniel Biss</h4>
		<h6>Illinois State Senator</h6>
	</div>
</div>

<div class="statement">
	<p>The Internet has the potential to be the greatest democratizing and connecting force the human race has ever known. The rapid transfer of information on a universally available and content-neutral network can give voice to those who have been voiceless, can educate all of us, and can lay the groundwork for the most broadly informed, engaged society imaginable.</p>
</div>