<div class="profile">
	<div class="photo">
		<%= link_to welcome_path(4) do %>
			<%= image_tag "biss.png", class: "pic"%>
		<% end %>
	</div>

	<div class="titles">
		<h4>Senator Daniel Biss</h4>
		<p>Illinois State Senator</p>
	</div>
</div>

<div class="statement">
	<p>
		"The rapid transfer of information on a universally available and content-neutral network can give voice to those who have been voiceless, can educate all of us, and can lay the groundwork for the most broadly informed, engaged society imaginable...<%= link_to "Read More", welcome_path(4)%>
	</p>
</div>