<div class="profile">
	<div class="photo">
		<%= image_tag "biss.png", class: "pic"%>
	</div>

	<div class="titles">
		<h4>Senator Daniel Biss</h4>
		<p><strong>Illinois State Senator</strong></p>
	</div>
</div>

<div class="statement">
	<p>
		The Internet has the potential to be the greatest democratizing and connecting force the human race has ever known. The rapid tr...<%= link_to "Read More", welcome_path(4)%>
	</p>
</div>