<div class="profile">
	<div class="photo">
		<%= image_tag "busch.png", class: "pic", alt: "Mike Busch" %>
	</div>

	<div class="titles">
		<h4>Mike Busche</h4>
		<p>Dev Bootcamp Chicago - Instructor</p>
		<p>Obtiva &amp; Groupon - Past Developer</p>
	</div>
</div>

<div class="statement">
	<p>
		"Net Neutrality is a cornerstone of today's internet. It provides a level playing field for content producers by ensuring consumers have equal access to content. This helps small businesses flourish by lowering the barriers to entry. It's created a platform for previously unheard voices to be heard. Sadly, the ISPs, an oligopoly in control of consumer internet infrastructure, seek to remove the protections that ensure the internet remains open to all. We must make it clear to our nations' leaders that net neutrality is the best mechanism we have to protect the interests of small business, independent journalism, and accessible content. We must speak up."
	</p>
</div>