<div class="call-to-contact">
  <a ="contact"></a>
</div>

<div class="cause-logo">
  <a href="https://secure2.convio.net/comcau/site/Advocacy;jsessionid=3EE6452AC227014237809FBD32076A77.app262a?pagename=homepage&page=UserAction&id=339&autologin=true" target="_blank"><%= image_tag "cclogo.png", class: "cause-pic", alt: "Logo image"%></a>
</div>