<div class="merica">
	<div class="call-to-contact">
	  <h5>To stay informed with Common Cause Illinois click the logo</h5>
	</div>

	<div class="cause-logo">
	  <a href="https://secure2.convio.net/comcau/site/Advocacy?cmd=display&page=UserAction&id=330" target="_blank"><%= image_tag "common-cause-illinois.jpg", class: "cause-pic", alt: "Logo image"%></a>
	</div>
</div>