<div class="call-to-contact">
  <a name="contact"><h5>Click to stay informed</h5></a>
</div>

<div class="cause-logo">
  <a href="https://secure2.convio.net/comcau/site/Advocacy?cmd=display&page=UserAction&id=330" target="_blank"><%= image_tag "cclogo.png", class: "cause-pic", alt: "Logo image"%></a>
</div>