<div class="contact-body">
	<h3>Need more information or have something to say?</h3>
	<h2>Contact <a href="mailto:bsinger@commoncause.org?Subject=Chicago%20for%20Net%20Neutrality">Benjamin Singer</a> with Common Cause Illinois.</h2>

	<a class="cc-il" href="https://secure2.convio.net/comcau/site/Advocacy?cmd=display&page=UserAction&id=330" target="_blank"><%= image_tag "common-cause-illinois.jpg"%></a>

	<h3 class="cc-invite">To stay informed with Common Cause Illinois click the logo above</h3>

	<div class="credits">
		<p>Site design by <a href="https://github.com/bontgoy" target="_blank">Tyler Keating</a> and <a href="https://github.com/scottsilveus" target="_blank">Scott Silveus</a></p>
		<p>Images by <a href="http://sarahlim.com/" target="_blank">Sarah Lim</a></p>
		<h6>Photo: ShutterRunner.com (CC by/nc)</h6>
	</div>
</div>