<div class="profile">

	<div class="photo">
		<%= image_tag "copps-2.gif", class: "pic"%>
	</div>

	<div class="titles">
		<h4>Michael J. Copps</h4>
		<p><strong>FCC Commissioner - 2001-2011</strong></p>
		<p><strong>Media &amp; Democracy Reform Initiative</strong></p>
	</div>
</div>

<div class="statement">
	<p>
		For years, both as a candidate for president and from the Oval Office, you have spoken passionately and clearly about the import...<%= link_to "Read More", welcome_path(2)%>
	</p>
</div>