<div class="profile">
	<div class="photo">
		<%= image_tag "copps.png", class: "pic"%>
	</div>

	<div class="titles">
		<h4>Michael J. Copps</h4>
		<h6>FCC Commissner - 2001-2011</h6>
		<h6>Media &amp; Democracy Reform Initiative</h6>
	</div>
</div>

<div class="statement">
	<p>
		For years, both as a candidate for president and from the Oval Office, you have spoken passionately and clearly about the import...<%= link_to "Read More", welcome_path(7), target: "_blank"%>
	</p>
</div>