<div class="profile">

	<div class="photo">
		<%= link_to welcome_path(2) do %>
			<%= image_tag "copps-2.gif", class: "pic"%>
		<% end %>
	</div>

	<div class="titles">
		<h4>Michael J. Copps</h4>
		<p>FCC Commissioner - 2001-2011</p>
		<p>Media &amp; Democracy Reform Initiative</p>
	</div>
</div>

<div class="statement">
	<p>
		"We are gravely concerned that a pending proposal before the Federal Communications Commission will undermine Net Neutrality and imperil the future of the open Internet. More than a million people have filed public comments with the FCC urging the agency to once again treat broadband as a telecommunications service under the law...<%= link_to "Read More", welcome_path(2)%>
	</p>
</div>