<div class="popup-header">
	<%= image_tag "copps.png", class: "pic"%>
	<h2>Michael J. Copps</h2>
	<h3>FCC Commissner - 2001-2011</h3>
	<h3>Media &amp; Democracy Reform Initiative</h3>
</div>

<div class="statement">
	<h3>Dear Mr. President: </h3>

	<p>
		For years, both as a candidate for president and from the Oval Office, you have spoken passionately and clearly about the importance of Net Neutrality for free speech and economic innovation.
	</p>

	<p>
		We applaud your remarks on Aug. 5 at the U.S. Africa Leaders Summit in favor of strong Net Neutrality protections. We strongly agree with your statement: “You don’t want to start getting a differentiation in how accessible the Internet is to different users. You want to leave it open so the next Google and the next Facebook can succeed."
	</p>

	<p>
		We write you because we are gravely concerned that a pending proposal before the Federal Communications Commission, where one of us served from 2001- 2011 as a commissioner and your interim chairman, will undermine Net Neutrality and imperil the future of the open Internet. The proposal would permit Internet service providers to bifurcate the network into fast lanes for the few who can pay and slow lanes for the rest of us. Gatekeeper control over whether and how people can access information makes a mockery of the dynamic nature of the Internet, stifles innovation, and jeopardizes our civic dialogue. Moreover, we must safeguard Internet openness to ensure it remains a platform for civic and technological innovation.
	</p>
	 
	<p>
		More than a million people have filed public comments with the FCC urging the agency to once again treat broadband as a telecommunications service under the law. This would restore the Title II legal foundation for the FCC to guarantee basic consumer protections and free expression on broadband networks — the infrastructure that you have done so much to encourage throughout your administration.
	</p>

	<p>
		Our nation’s Internet future is on the line, and a wrong decision now will inflict irreparable damage to a platform that is central to our economic and social progress.  
	</p>
</div>