<div class="profile">
	<div class="photo">
		<%= image_tag "exline.png", class: "pic", alt: "Katheryn Exline"%>
	</div>

	<div class="titles">
		<h4>Katheryn Exline</h4>
		<p>Girl Develop It Chicago - Co-Leader</p>
		<p>Fooda - Engineer</p>
	</div>
</div>

<div class="statement">
	<p>
		"Open and fair accessibility to the World Wide Web has enabled anybody within its reach the power to consume, create and communicate in ways that drive this world forward. We must continue to press our nation's leaders to take this threat seriously and preserve our right to net neutrality.There is no place for a VIP room on the internet."
	</p>
</div>