<div class="contact">
	<h3>Contact The Common Cause Illinois</h3>
</div>

<div class="credits">
	<ul>
		<li>Site Design by:</li><br>
			<ul>
				<li>Tyler Keating &amp; Scott Silveus</li><br>
			</ul>
		<li>Images by:</li><br>
			<ul>
				<li>Sarah Lim</li><br>
			</ul>
	</ul>
</div>