<div class="fat-footer">
	<div class="contact">
		<div class="btn">
			<button><a href="mailto:bsinger@commoncause.org?Subject=Chicago%20for%20Net%20Neutrality"><strong>Contact Us</strong></a></button>
		</div>
		<%= image_tag "common-cause-illinois.jpg", class: "cause-logo"%>
	</div>

	<div class="credits">
		<p>Site design by <a href="">Tyler Keating</a> and <a href="">Scott Silveus</a></p>
		<p>Images by <a href="">Sarah Lim</a></p>
		<p>Skyline photo by <a href="">Roman Boed</a></p>
	</div>
</div>