<div class="fat-footer">
	<div class="contact">
		<div class="btn">
			<button><a href="mailto:bsinger@commoncause.org?Subject=Chicago%20for%20Net%20Neutrality"><strong>Contact Us</strong></a></button>
		</div>
		<a href="https://secure2.convio.net/comcau/site/Advocacy?cmd=display&page=UserAction&id=330" target="_blank"><%= image_tag "common-cause-illinois.jpg", class: "cause-logo"%></a>
	</div>

	<div class="credits">
		<p>Site design by <a href="https://github.com/bontgoy" target="_blank">Tyler Keating</a> and <a href="https://github.com/scottsilveus" target="_blank">Scott Silveus</a></p>
		<p>Images by <a href="http://sarahlim.com/" target="_blank">Sarah Lim</a></p>
		<p>Chicago Skyline photo by <a href="http://flickr.com/photos/romanboed" target="_blank">Roman Boed</a></p>
	</div>
</div>