<div class="fat-footer">
	<div class="contact">
		<div class="btn">
			<button><strong>Contact Us</strong></button>
		</div>
		<%= image_tag "common-cause-illinois.jpg", class: "cause-logo"%>
	</div>

	<div class="credits">
		<p>Site design by Tyler Keating and Scott Silveus</p>
		<p>Images by Sarah Lim</p>
		<p>Skyline photo by Roman Boed</p>
	</div>
</div>