<div class="profile">
	<div class="photo">
		<a name="innovators"><%= image_tag "grubbs.png", class: "pic", alt: "JC Grubbs"%></a>
	</div>

	<div class="titles">
		<h4>JC Grubbs</h4>
		<p>DevMynd - Co-Founder & CEO</p>
	</div>
</div>

<div class="statement">
	<p>
		"The internet has been the most transformative innovation in human history since the printing press.  To deny fair and consistent access to such a basic building block of modern society is absurd.  It is crucial to future generations that this essential tool be allowed to grow on the merits of its users, rather than governed by the utilitarian services which carry the bits."
	</p>
</div>