<header class="navigation">
  <div class="navigation-wrapper">
    <div class="logo">
      <%= image_tag "logo-side.png", alt: "Logo Image"%>
    </div>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="https://secure2.convio.net/comcau/site/Advocacy;jsessionid=7AA4EFA5FEC82AF9F4804A01A72021DC.app262a?pagename=homepage&page=UserAction&id=339&autologin=true" target="_blank">Get Involved</a></li>
        <li class="nav-link"><a href="#innovators">Innovators</a></li>
        <li class="nav-link"><a href="#mission">Mission</a></li>
      </ul>
    </div>
  </div>
</header>