<header class="navigation">
  <div class="navigation-wrapper">
    <div class="logo">
      <%= image_tag "logo-side.png", alt: "Logo Image"%>
    </div>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="https://secure2.convio.net/comcau/site/Advocacy?cmd=display&page=UserAction&id=330" target="_blank">Contact</a></li>
        <li class="nav-link"><a href="#innovators">Innovators</a></li>
        <li class="nav-link"><a href="#mission">Mission</a></li>
      </ul>
    </div>
  </div>
</header>