<header class="navigation">
  <div class="navigation-wrapper">
    <div class="logo">
      <%= image_tag "logo-side.png", alt: "Logo Image"%>
    </div>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="#">Mission</a></li>
        <li class="nav-link"><a href="#">Innovators</a></li>
        <li class="nav-link"><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
