<div class="hero">
	<div class="hero-inner">
    <a name="hero" class="hero-logo"><%= image_tag "Common-Cause-logo.png"%></a>
		<div class="hero-copy">
			<h1>Keep the Internet Open</h1>
			<p>Sign up to stay informed about the battle for Net Neutrality, and find out what you can do to protect our Internet freedom.</p>
		</div>
		<%= link_to "View Statements", "#innovators", class: "button" %>
			<div class="hero-copy bot-cop">
				<p>For press inquiries contact <strong>Benjamin Singer:</strong> <strong><a href="mailto:BSinger@commoncause.org?Subject=ChicagoForNetNeutrality">bsinger@commoncause.org</a></strong> or <strong>(312) 372-3422</strong></p>
			</div>
	</div>
</div>
