<div class="hero">
	<div class="hero-inner">
    <a href="#" class="hero-logo"><%= image_tag "Common-Cause-logo.png"%></a>
		<div class="hero-copy">
			<h1>Keep the Internet Open</h1>
			<p>Keeping the Internet open means if you’re paying for broadband, then you should be able to access the content and services you want.</p>
		</div>
	</div>
</div>
