<div class="profile">
	<div class="photo">
		<%= image_tag "hightower.png", class: "pic", alt: "Raymond T. Hightower" %>
	</div>

	<div class="titles">
		<h4>Raymond T. Hightower</h4>
		<p>WisdomGroup - President</p>
		<p>RubyCaribe and WindyCityRails - Organizer</p>
	</div>
</div>

<div class="statement">
	<p>
		Net neutrality is the latest battleground in the war between scientific literacy and scientific ignorance. Economies grow where science and engineering flourish. For example, 20th century America built the strongest economy on the planet through innovations in semiconductors, aerospace, and telecommunications. Smart people with scientific and engineering skills collaborated to build our industries and to grow our economy. Will 21st century America be as prosperous?
	</p>

	<p>
		The Internet is the latest accelerator of scientific (and economic) growth because it enables smart people to collaborate more effectively. The unfettered flow of information via the Internet has already yielded benefits in education, medicine, commerce… areas that serve every citizen of planet earth. The flow of information enables scientists and engineers to be more effective. Everyone wins when smart people can collaborate.
	</p>

	<p>
		Any position against net neutrality is irresponsible.
	</p>

	<p>
		Further, if we in the USA allow ourselves to be handicapped by a bureaucratic Internet pricing structure, other nations will surge further ahead in the race for technical excellence. If we lose our technical edge, we will degenerate into a nation that produces nothing while arguing over everything.
	</p>
	
	<p>
		Our prosperous future will be built on net neutrality. Let’s get this done.
	</p>
</div>