<div class="profile">
	<div class="photo">
		<%= link_to welcome_path(19) do %>
			<%= image_tag "hightower.png", class: "pic", alt: "Raymond T. Hightower" %>
		<% end %>
	</div>

	<div class="titles">
		<h4>Raymond T. Hightower</h4>
		<p>WisdomGroup - President</p>
		<p>RubyCaribe and WindyCityRails - Organizer</p>
	</div>
</div>

<div class="statement">
	<p>
		"The Internet is the latest accelerator of scientific (and economic) growth because it enables smart people to collaborate more effectively. If we in the USA allow ourselves to be handicapped by a bureaucratic Internet pricing structure, other nations will surge further ahead in the race for technical excellence...<%= link_to "Read More", welcome_path(19)%>
	</p>
</div>