<div class="profile">
	<div class="photo">
		<a name="innovators"><%= image_tag "hoover.png", class: "pic", alt: "Dave Hoover"%></a>
	</div>

	<div class="titles">
		<h4>Dave Hoover</h4>
		<p>Dev Bootcamp - Co Founder</p>
		<p>Angel Investor & Author</p>
	</div>
</div>

<div class="statement">
	<p>
		"The Internet is a network where small upstarts can benefit from the same global infrastructure as established players. With the countless other competitive advantages that large American companies enjoy, I am against any legislation that would allow them to gain an advantage within the Internet. The future of our society depends on small upstarts challenging the status quo. This is why I advocate for Net Neutrality."
	</p>
</div>