<div class="profile">
	<div class="photo">
		<%= image_tag "howe.png", class: "pic", alt: "Shay Howe"%>
	</div>

	<div class="titles">
		<h4>Shay Howe</h4>
		<p>Belly - Director of Product</p>
	</div>
</div>

<div class="statement">
	<p>
		“An Open Internet, as it was intended, is worth fighting for and should be protected. Fair and equal access for all keeps the playing field even, giving you and I the same potential and opportunity as the organizations and corporations that tower over us. Net Neutrality fosters an Open Internet and unbiased rights, and is an initiative I’m proud to support."
	</p>
</div>