<div class="profile">
	<div class="photo">
		<%= image_tag "katris.png", class: "pic", alt: "Maria Katris"%>
	</div>

	<div class="titles">
		<h4>Maria Katris</h4>
		<p>Built in Chicago - CEO</p>
	</div>
</div>

<div class="statement">
	<p>
		“The tech community in Chicago and across the country has thrived with an Open Internet. We stand behind President Obama’s call for Title II classification to ensure true net neutrality and the continued growth of startups and tech communities in the U.S.” 
	</p>
</div>