<div class="profile">
	
	<div class="photo">
			<%= image_tag "kunesh.png", class: "pic", alt: "Jason Kunesh"%>
	</div>

	<div class="titles">
		<h4>Jason Kunesh</h4>
		<p>Public Good Software Inc. - CEO</p>
	</div>
</div>

<div class="statement">
	<p>
		"The interests of people are best represented when the FCC fights for the right to an open, fair, free and equal internet. Anything else dulls innovation, blunts job creation, and limits the basic human right of a just society."
	</p>
</div>
