<div class="profile">

	<div class="photo">
		<%= image_tag "mcgee.png", class: "pic", alt: "Mike McGee"%>
	</div>

	<div class="titles">
		<h4>Mike McGee</h4>
		<p><strong>Starter League - Co-Founder</strong></p>
		<p><strong>1871 - Founding Member</strong></p>
		<p><strong>Chicago Ideas Week - Brain Trust</strong></p>
	</div>
</div>

<div class="statement">
	<p>
		“Net neutrality is incredibly important to me and to The Starter League’s tech entrepreneurs. Our school has taught over 1,000 b...<%= link_to "Read More", welcome_path(5)%>
	</p>
</div>