<div class="profile">

	<div class="photo">
		<%= image_tag "mcgee.png", class: "pic", alt: "Mike McGee"%>
	</div>

	<div class="titles">
		<h4>Mike McGee</h4>
		<p>Starter League - Co-Founder</p>
		<p>1871 - Founding Member</p>
		<p>Chicago Ideas Week - Brain Trust</p>
	</div>
</div>

<div class="statement">
	<p>
		“Allowing Internet service providers to charge consumers extra to access new content or services would make it harder and more expensive for the public; we can ensure real net neutrality, protect consumers, and eliminate gatekeeper power over web content and services...<%= link_to "Read More", welcome_path(5)%>
	</p>
</div>