<div class="profile">

	<div class="photo">
		<%= image_tag "mcgee.png", class: "pic", alt: "Mike McGee"%>
	</div>

	<div class="titles">
		<h4>Mike McGee</h4>
		<h6>Starter League - Co-Founder</h6>
		<h6>1871 - Founding Member</h6>
		<h6>Chicago Ideas Week - Brain Trust</h6>
	</div>
</div>

<div class="statement">
	<p>
		“Net neutrality is incredibly important to me and to The Starter League’s tech entrepreneurs. Our school has taught over 1,000 b...<%= link_to "Read More", welcome_path(4), target: "_blank"%>
	</p>
</div>