<div class="intro-text">

  <%= image_tag "logo-side.png", class: "mission-logo"%>
  
  <h4>Strong Open Internet rules will prevent internet service providers from creating online "fast lanes” <a name="mission">for</a> the deep-pocketed few. Strong FCC rules prevent these companies from slowing down your access to the content you care about. Anything less is a betrayal of Barack Obama’s campaign promise to protect Net Neutrality.</h4>
  <h4><strong>Protect free expression and innovation online.</strong></h4>
  <h4><strong>Protect the Open Internet.</strong></h4>
</div>
