<div class="mission-body">
	<h2>Keeping the Internet open means if you’re paying for broadband, then you should be able to access the content and services you want.</h2> 
	<h4>Strong Open Internet rules will prevent internet service providers like cable companies from creating online fast lanes for the companies who pay them to. Strong rules from the FCC can also prevent these companies from slowing down your speed if you try to access anything else. </h4>
	<h4>Protect the Open Internet. Protect free expression and innovation online.</h4>
	<!-- <p>Click on the photos below to see statements from innovators in Chicago and across the country in support of the Open Internet.</p> -->
</div>

<div class="skyline-page">
	<%= render "skyline"%>
</div>




