<div class="intro-text">

  <h2>Chicago for Net Neutrality</h2>
  <a name="mission"></a>
  <h4>Strong Open Internet rules will prevent internet service providers like cable companies from creating online fast lanes for the companies who pay them to. Strong rules from the FCC can also prevent these companies from slowing down your speed if you try to access anything else. Protect the Open Internet. Protect free expression and innovation online.</h4>
</div>
