<div class="mission-body">
	<h2>Guaranteeing the Open Internet ("net neutrality") means ensuring paying consumers have access to the content and services of their choice.</h2> 
	<p>Strong Open Internet rules prevent Internet Service Providers from creating online fast lanes for the privileged few. Protecting the Open Internet safeguards free expression and innovation online.</p><br>
	<p>Click on the pictures below to see statements from leaders in Chicago and across the country in support of the Open Internet.</p>
</div>