<div class="profile">
	<div class="photo">
		<%= image_tag "moog.png", class: "pic", alt: "Matt Moog"%>
	</div>

	<div class="titles">
		<h4>Matt Moog</h4>
		<p>PowerReviews - CEO</p>
	</div>
</div>

<div class="statement">
	<p>
		“In the same way that PowerReviews helps brands engage with their consumers, the Open Internet is vital for companies and organizations to communicate with their customers and supporters. I stand behind President Obama’s call for Title II classification to ensure true net neutrality.”
	</p>
</div>