<div class="profile">
	<div class="photo">
		<%= image_tag "museum.png", class: "pic"%>
	</div>
	
	<div class="titles">
		<h4>National Museum of Health + Medicine Chicago</h4>
	</div>
</div>

<div class="statement">
	<p>
		In the mid-1990s, Oracle chairman Larry Ellison made headlines by declaring his vision for a future where people would do all th...<%= link_to "Read More", welcome_path(7)%>
	</p>
</div>