<div class="profile">
	<div class="photo">
		<%= image_tag "museum.png", class: "pic"%>
	</div>
	
	<div class="titles">
		<h4>National Museum of Health + Medicine Chicago</h4>
	</div>
</div>

<div class="statement">
	<h5>A Statement on the Health and Medical Implications of Net Neutrality</h5>

	<p>
		In the mid-1990s, Oracle chairman Larry Ellison made headlines by declaring his vision for a future where people would do all their daily work via small networked computers which would use the Internet and the Web to tap into the power of powerful remote computers, where the network would be high-enough performance to be treated like a computer's bus, a resource that, once plugged into, could provide access to data and resources regardless of physical location.
	</p>

	<p>
		While, today, this prediction appears as if it may turn out to be prescient, at the time it was made it was derided by technology pundits as hopelessly impractical.  Even if network technologies improve enough to make this possible, they said, people would still use their PCs for the bulk of their day to day work.  These naysayers clearly didn't anticipate the explosion to occur in low-cost mobile computing, where today even the vast majority of individuals who cannot afford a personal computer use smartphones to access the Internet.
	</p>

	<p>
		The full potential of Ellison's vision was predicated upon the way the Internet worked at the time, when all data on the Net was treated as equal.  As long as all data packets on the Net were given equal status, application developers could treat the entire Internet as one big computing platform.  It wouldn't matter whether program functions and important data were located on the user's device or on some remote servers across the world.
	</p>

	<p>
		Unfortunately, this technology panacea is in severe danger of never coming to fruition. 
	</p>

	<p>
		Instead of adhering to the founding principles of data equality of the original Internet, the commercialization of the underlying infrastructure of the Net has led to short-sighted profiteering via corruption of these principles by the major Internet service providers.  The network capacity has  instead been productized into Internet "fast lanes," providing assured high "Quality of Service" (QOS) network performance to only the highest bidders, and relegating the much slower and less reliable commodity network accessible to everyone else.  Rather than expanding the potential of the Internet-based economy,  this so-called "innovation" has occured at the expense of the long-term much larger opportunity that Ellison envisioned back in the 1990s. 
	</p>

	<p>
		Nevertheless, the march of progress trudges along, even if slower than it otherwise should.  The least-common-denominator network speeds continue to creep slowly upward, in an uneven and piecewise fashion, albeit at a rate that is embarassing in comparison to almost any other developed nation in the world.  Network data transfer speed, however, is not the only important factor.
	</p>

	<p>
		While many believe that the net neutrality issue revolves simply around data transfer speed, an equally important aspect of network performance is the latency of the connection.  In order for the next generation of distributed applications to fufill its promise, networks need to be able to respond instantly to very small transfers of data -- the messages that parts of a program send to each other as they coordinate to accomplish a bigger goal.
	</p>

	<p>
		In order for emerging advances in cloud computing to be feasible, both high speed and low latency must be available across all classes of applications and across all users.
	</p>

	<p>
		A common argument put forth by the major network providers is that they are providing "fast lanes and hyperspeed lanes" to the different classes of their users.  This is an absurdity that attempts to disguise their current discriminatory class-based approach to providing network access to the public.
	</p>

	<p>
		The QOS approach presumes that essential services can be provided through specialized applications that can be developed specifically for those purposes.  These specialized applications, the argument goes, can then be given access to high QOS connections (the "fast lanes").
	</p>

	<p>
		It is becoming increasingly apparent, however, that many essential services provided via the Internet are being delivered through commodity applications, such as the Web, YouTube and Skype, rather than via specialized applications. 
	</p>

	<p>
		This is especially the case in the area of health and medicine, where a patient's primary source of health-related information is often a smartphone or other inexpensive Internet-connected mobile device.  This applies to the public in general, but it is particularly pertinent among populations of users who, whether due to factors such as physical disability, unfavorable housing circumstances, or remote locations, are dependent upon the network for their access to the outside world.
	</p>

	<p>
		While these commodity Internet services are now being used for delivery of healthcare services, these services are also among the most seriously degraded as they have to traverse QOS-based sections of the Internet to reach their users. This is a trend that will continue to grow over time. 
	</p>

	<p>
		Nevertheless, Apple Computer, the world's most valuable corporation, has recently announced a major initiative that will use such commodity-Internet "slow lanes" to expand the functionality of their line of mobile devices in the areas of wellness, physical fitness, health maintenance, and provision of medical services.  Apple's announcement of Healthkit presages a new wave of applications that will allow patients to connect directly with vital information and healthcare professsionals from anywhere on the globe.
	</p>

	<p>
		The next wave of software applications that put these new technologies to use will predominantly originate from the tech startup arena.  These will be companies that won't be able to afford the exorbitant fees associated with access to today's Internet fast lanes.  The healthcare community desperately needs these startups to be properly equipped to be able to create next-generation applications and services that can take full advantage of the best that networking can deliver.
	</p>

	<p>
		These factors inevitably lead to the conclusion that, rather than being merely an issue of conflict between differing business philosopies, Net Neutrality is in fact a question of equal access to essential resources by the citizenry of the nation.  Simply put, network non-neutrality is a completely unacceptable condition for the nation's health.
	</p>

	<p>
		A supportable argument can made, in fact, that for highly network-dependent populations, such as the physically disabled, net neutrality is already mandated by current law.  For example, as explained in Wikipedia, the Americans with Disabilities Act (the ADA), requires that "Under Title III, no individual may be discriminated against on the basis of disability with regards to the full and equal enjoyment of the goods, services, facilities, or accommodations of any place of "public accommodation" by any person who owns, leases, or operates a place of "public accommodation". "Public accommodations" include most places of lodging (such as inns and hotels), recreation, transportation, education, and dining, along with stores, care providers, and places of public displays."
	</p>

	<p>
		It does not require a stretch of imagination to interpret the Internet as a "place of public display" and therefore subject to the requirements for equal access as defined under the Act.  While this is a novel interpretation, there is little doubt that there will be legal challenges under the ADA to any Federal rulemaking that encroaches upon equal access to any corner of the publicly-accessible reaches of the Internet.
	</p>

	<p>
		For the many reasons stated above, and for the health and well being of the nation as a whole, it is the position of the National Museum of Health + Medicine Chicago that it is essential that the Federal Communications Commission (FCC) reclassify Internet service providers (ISPs) as common carriers under Title II of the Communications Act of 1934, in order to ensure equal access to the Net for all.
	</p>
</div>