<div class="profile">
	<div class="photo">
		<%= image_tag "museum.png", class: "pic"%>
	</div>
	
	<div class="titles">
		<h4>National Museum of Health + Medicine Chicago</h4>
	</div>
</div>

<div class="statement">
	<p>
		"A common argument put forth by the major network providers is that they are providing "fast lanes and hyperspeed lanes" to the different classes of their users.  This is an absurdity that attempts to disguise their current discriminatory class-based approach to providing network access to the public"...<%= link_to "Read More", welcome_path(7)%>
	</p>
</div>