<div class="profile">
	<div class="photo">
		<%= image_tag "obama.png", class: "pic", alt: ""%>
	</div>

	<div class="titles">
		<h4>President Barack Obama</h4>
	</div>
</div>

<div class="statement">
	<p>
		"Ever since the Internet was create it has been organized around the basic principles of openness, fairness, and freedom. This set of principles has unleashed the Internet and given innovators the chance to thrive.  Abandoning these principles will threaten to end the Internet as we know it.  That is why I am urging the Federal Communications Commission to do everything they can to protect Net Neutrality for everyone." <%= link_to "View Statement", "http://www.whitehouse.gov/net-neutrality" %>
	</p>
</div>

<div class="obama-video">
	<%= render "obama_video" %>
</div>