<div class="profile">
	<div class="photo">
		<%= image_tag "pasky.png", class: "pic", alt: "Jonathan R. Pasky"%>
	</div>

	<div class="titles">
		<h4>Jonathan R. Pasky</h4>
		<p>Pasky IP Law LLC - Principal &amp; CEO</p>
	</div>
</div>

<div class="statement">
	<p>
		"Competition on the internet is great for business and for this country.  The FCC shouldn’t play arbiter over innovation and regulation of the internet.  Telecommunication laws need reform and action is needed now for the internet to stay free from cumbersome government regulation."
	</p>
</div>