<div class="profile">
	<div class="photo">
		<%= image_tag "reed.png", class: "pic", alt: "Harper Reed"%>
	</div>

	<div class="titles">
		<h4>Harper Reed</h4>
		<p>Modest, Inc - CEO</p>
		<p>Obama For America - Former CTO</p>
	</div>
</div>

<div class="statement">
	<p>
		“I support President Obama in his call for Title II reclassification of high-speed internet, to protect real net neutrality. Without this reclassification, we stand the chance at losing the internet and the freedom it provides.”
	</p>
</div>