<div class="profile">
	<div class="photo">
		<a name="innovators"><%= image_tag "rose.png", class: "pic", alt: "Don Rose"%></a>
	</div>

	<div class="titles">
		<h4>Don Rose</h4>
		<p>Don Rose Communications - President</p>
	</div>
</div>

<div class="statement">
	<p>
		"Net neutrality is essential to our democracy. Losing it will be one giant step toward further social and economic inequality."
	</p>
</div>