<div class="profile">
	<div class="photo">
		<%= image_tag "rubin.png", class: "pic", alt: "Leonard Rubin"%>
	</div>

	<div class="titles">
		<h4>Leonard Rubin</h4>
		<p>Querrey &amp; Harrow, Ltd</p>
	</div>
</div>

<div class="statement">
	<p>
		"Faster Internet service for some means slower and less available service for others; it’s the same single Internet, and it’s not like first class versus fourth class mail where the sender has a choice.  No one has yet been able to articulate a consumer-friendly  reason to violate present net neutrality by allowing wealthy content providers to pay for faster Internet delivery speeds at the expense of not-so-wealthy providers, such as public service companies, start-ups and charities. Net neutrality means everyone has an equal shot at reaching me, instead of net discrimination."
	</p>
</div>