<div class="profile">
	<div class="photo">
		<%= link_to welcome_path(26) do %>
		<%= image_tag "rubin.png", class: "pic", alt: "Leonard Rubin"%>
		<% end %>
	</div>

	<div class="titles">
		<h4>Leonard Rubin</h4>
		<p>Querrey &amp; Harrow, Ltd</p>
	</div>
</div>

<div class="statement">
	<p>
		"Faster Internet service for some means slower and less available service for others. No one has yet been able to articulate a consumer-friendly  reason to violate present net neutrality...<%= link_to "Read More", welcome_path(26)%>
	</p>
</div>