<div class="profile">
	<div class="photo">
		<%= image_tag "singham.png", class: "pic"%>
	</div>

	<div class="titles">
		<h4>Roy Singham</h4>
		<h6>ThoughtWorks - Founder and Chairman</h6>
	</div>
</div>

<div class="statement">
	<p>
		ThoughtWorks is a global technology company with 3000 people in 30 offices delivering software solutions that address the toughest technical, business and social challenges.
	</p>
</div>