<div class="profile">

	<div class="photo">
		<%= link_to welcome_path(3) do %>
			<%= image_tag "singham-2.gif", class: "pic"%>
		<% end %>
	</div>

	<div class="titles">
		<h4>Roy Singham</h4>
		<p>ThoughtWorks - Founder and Chairman</p>
	</div>
</div>

<div class="statement">
	<p>
		"The Internet, and its most ubiquitous application, the World Wide Web, enables unprecedented efficiency in all aspects of business and personal life. ThoughtWorks urges the FCC to not allow the oligopolists that provide Internet access in the US to be allowed to begin charging content providers for differential treatment...<%= link_to "Read More", welcome_path(3)%>
	</p>
</div>