<div class="popup-header">
	<%= image_tag "singham.png", class: "pic"%>
	<h2>Roy Singham</h2>
	<h3>ThoughtWorks - Founder and Chairman</h3>
</div>

<div class="statement">
	<h3>To Chairman Wheeler and the FCC Commissioners:</h3>
	<p>
		ThoughtWorks is a global technology company with 3000 people in 30 offices delivering software solutions that address the toughest technical, business and social challenges.
	</p>
	 
	<p>
		We believe that the world works better when the Internet works better. The Internet, and its most ubiquitous application, the World Wide Web, enables unprecedented efficiency in all aspects of business and personal life, providing near- instant communication whether by email, instant messaging, or phone and video calls. The ability of citizens to participate freely in discussion forums, blogs, sites, and digital activism using the World Wide Web has strengthened democracy worldwide.
	</p>
	 
	<p>
		Across industries - from entertainment to retail to media to healthcare, the productivity and efficiency gains due to the growth of the Internet have not only unleashed unprecedented innovation in new types of products and services, but also the ability to deliver them globally.
	</p>
	 
	<p>
		The Internet represents an $8-trillion-a-year economy, growing at an annual rate of roughly 20% per year, and is responsible for 21% of the growth of GDP in mature economies.
	</p>
	 
	<p>
		But these transformative gifts of the global Internet are under existential threat. As technologists and as a business, we feel called to preserve and defend on behalf of all humanity this uniquely democratic, egalitarian and beneficial technology.
	</p>
	 
	<p>
		Defending the Internet is a struggle on many fronts, but the among the most critical is the preservation of net neutrality. Net neutrality means that all traffic on the Internet is treated equally. Anyone can start up a website and make it instantly available to the world on an equal basis as the biggest, richest corporations and most powerful governments. Net neutrality is an anti-discrimination policy for the net.
	</p>
	 
	<p>
		ThoughtWorks urges the FCC to not allow the oligopolists that provide Internet access in the US to be allowed to begin charging content providers for differential treatment. There is no other way to view the current proposals than as the creation of a “fast lane” on the Internet for content providers who can afford to pay while relegating those who can’t to a lower quality of service.
	</p>
	 
	<p>
		We believe the proposals under consideration in proceeding 14-28 would result in no less than the end of the era of democratic access that has driven unprecedented innovation, creativity, and empowerment for millions of people online.
	</p>
	 
	<p>
		Enacting proceeding 14-28 would create a private toll road on the Internet with grave consequences. For Internet users, the cost of those tolls would certainly be passed on via increased prices for the services we depend on. Anyone who operates a website would have to pay up or operate from a permanent disadvantage, accelerating the trend towards digital monopolies and creating significant barriers to entry for innovative newcomers.
	</p>
	 
	<p>
		Perhaps most damaging of all, proceeding 14-28 would give network operators a powerful incentive to continue under-investing in infrastructure. Capacity constraints on their networks would be transformed into profit opportunities because they would be allowed to charge for preferential access to a resource for which they have ensured artificial scarcity.
	</p>
	 
	<p>
		To prevent all of this, ThoughtWorks urges the FCC to reverse its 2002 decision to treat broadband as an "information service" rather than a telecommunications service and to reclassify broadband under Title II of the communications act.
	</p>
	 
	<p>
		Listening to the anti-regulatory rhetoric from the entrenched media conglomerates that dominate the broadband industry, we hear echoes of the bankers who once chafed under the eye of the SEC. But as we have seen time and time again, from the crash of 1929 to the economic chaos unleashed by the bursting of the housing market bubble in 2008, when critical markets are deregulated we all lose. Everyday citizens are counting on the FCC to defend their interests, not the interests of corporate lobbyists.
	</p>
	 
	<p>
		The battle to retain net neutrality is a defining moment for US companies, leaders and internet users to stand up to preserve what remains of this critical public good before it is destroyed forever. History will be your judge, Chairman Wheeler and Commissioners Clyburn, Rosenworcel, Pai, and O’Reilly. We urge you to put yourselves on the right side of it.
	</p>
</div>