<div class="profile">
	<div class="photo">
		<%= image_tag "siska.png", class: "pic", alt: "Tracy Siska"%>
	</div>

	<div class="titles">
		<h4>Tracy Siska</h4>
		<p>Chicago Justice Project - Executive Director</p>
	</div>
</div>

<div class="statement">
	<p>
		"The vitality of the American democratic experiment is put at risk whenever the free distribution of ideas and information is treatened. The internet is not just a service to be commodified but rather an integral public resource that provides Americans the ability to realize many of the rights codified in our Constitution. Any corporate and or governmental encroachment on the integrity of this public resource is a threat of our way of life."
	</p>
</div>