<div class="sky-body">
  <p>Guaranteeing the Open Internet ("net neutrality") means ensuring paying consumers have access to the content and services of their choice. Strong Open Internet rules prevent Internet Service Providers from creating online fast lanes for the privileged few. Protecting the Open Internet safeguards free expression and innovation online.</p><br>
</div>