<div class="profile">
	<div class="photo">
		<%= image_tag "stringer.png", class: "pic", alt: "Mike Stringer"%>
	</div>

	<div class="titles">
		<h4>Mike Stringer</h4>
		<p>Datascope Analytics - Co-founder, Data Scientist, Partner</p>
	</div>
</div>

<div class="statement">
	<p>
		"The Internet is an amazing environment for transformative ideas in part because people know that if they develop something great, then they can deliver it to almost anyone. I support Net Neutrality to help ensure that infrastructure companies have the incentive to send information as quickly and cheaply as possible rather than working out deals that benefit some more than others."
	</p>
</div>