<div class="profile">
	<div class="photo">
		<%= link_to welcome_path(14) do %>
			<%= image_tag "taylor.png", class: "pic", alt: "Kevin P. Taylor"%>
		<% end %>
	</div>

	<div class="titles">
		<h4>Kevin P. Taylor</h4>
		<p>EventWax LLC - Co-owner</p>
		<p>Technology Entrepreneur &amp; Investor</p>
	</div>
</div>

<div class="statement">
	<p>
		"Imagine an interstate highway system that only a privileged few could travel. The proposed ability of these companies to restrict access to internet bandwidth will stunt the growth of innovative and creative new technology companies that provide good paying jobs, services, and content that make all of our lives better...<%= link_to "Read More", welcome_path(14)%>
	</p>
</div>