<div class="profile">
	<div class="photo">
		<%= link_to welcome_path(10) do %>
			<%= image_tag "tulbert.png", class: "pic", alt: "Eve Tulbert"%>
		<% end %>
	</div>

	<div class="titles">
		<h4>Eve Tulbert</h4>
		<p>Freedom Games - Co-Founder/CEO</p>
	</div>
</div>

<div class="statement">
	<p>
		"The internet is the most important school of our time.  Every day, its students learn critical information about health, housing, government, current events, small business development. If we lose net neutrality, that school gets ripped down...<%= link_to "Read More", welcome_path(10)%>
	</p>
</div>