<div class="profile">
	<div class="photo">
		<a name="innovators"><%= image_tag "tulbert.png", class: "pic", alt: "Eve Tulbert"%></a>
	</div>

	<div class="titles">
		<h4>Eve Tulbert</h4>
		<p>Freedom Games - Co-Founder/CEO</p>
	</div>
</div>

<div class="statement">
	<p>
	The internet is the most important school of our time.  Every day, its students learn critical information about health, housing, government, current events, small business development...the list goes on. Our school offers countless opportunities for engagement without restriction or control. It serves every kind of student, offering access to free and open knowledge and bridging across persistent economic divides. If we lose net neutrality, that school gets ripped down...and a shopping mall gets built in its stead. 
	</p>
</div>