<div class="profile">
	<div class="photo">
		<a name="innovators"><%= image_tag "wozniak.png", class: "pic", alt: "Steve Wozniak"%></a>
	</div>

	<div class="titles">
		<h4>Steve Wozniak</h4>
		<p><strong>Apple - Co-Founder</strong></p>
	</div>
</div>

<div class="statement">
	<p>
		The Internet has become as important as anything man has ever created. But those freedoms are being chipped away. Please, I beg ...<%= link_to "Read More", welcome_path(1)%>
	</p>
</div>