<div class="profile">
	<div class="photo">
		<%= image_tag "wozniak.png", class: "pic", alt: "Steve Wozniak"%>
	</div>

	<div class="titles">
		<h4>Steve Wozniak</h4>
		<h6>Apple - Co-Founder</h6>
	</div>
</div>

<div class="statement">
	<p>
	The Internet has become as important as anything man has ever created. But those freedoms are being chipped away. Please, I beg you, open your senses to the will of the people to keep the Internet as free as possible. Local ISP's should provide connection to the Internet but then it should be treated as though you own those wires and can choose what to do with them when and how you want to, as long as you don't destruct them. I don't want to feel that whichever content supplier had the best government connections or paid the most money determined what I can watch and for how much. This is the monopolistic approach and not representative of a truly free market in the case of today's Internet.
	</p>
</div>