<div class="profile">
	<div class="photo">
		<%= image_tag "wrigley.png", class: "pic", alt: "Desiree Vargas Wrigley"%>
	</div>

	<div class="titles">
		<h4>Desiree Vargas Wrigley</h4>
		<p>GiveForward - CEO &amp; Co-Founder</p>
	</div>
</div>

<div class="statement">
	<p>
		"The internet is at the center of our economic freedom as a nation.  It allows us to create new technologies that can compete openly and fairly.  Without net neutrality we risk losing our ability to build the future."
	</p>
</div>