<div class="profile">
	<div class="photo">
		<%= image_tag "yeary.png", class: "pic", alt: "Nicole Yeary"%>
	</div>

	<div class="titles">
		<h4>Nicole Yeary</h4>
		<p>Ms. Tech - President &amp; Founder</p>
	</div>
</div>

<div class="statement">
	<p>
		"Nothing is more critical to our future freedom than net neutrality. The internet has become our library, our radio, and our postal service all in one-- tolling access would further widen the digital divide, even threaten to alienate many."
	</p>
</div>