<div class="logo-head">
</div>

<div class="skyline-page">
	<%= render "skyline"%>
</div>

<div class="mission-page">
	<%= render "mission"%>
</div>

<div class="innovaters-page">
	<%= render "innovaters"%>
</div>

<a class="popup-modal" href="#test-modal">Open modal</a>

<div id="test-modal" class="white-popup-block mfp-hide">
		<h1>All the Pizza</h1>
	<p><a class="popup-modal-dismiss" href="#">Dismiss</a></p>
</div>