<div class="logo-head">
</div>

<div class="skyline-page">
	<%= render "skyline"%>
</div>

<div class="mission-page">
	<%= render "mission"%>
</div>

<div class="innovaters-page">
	<%= render "innovaters"%>
</div>