<div class="logo-head">
</div>

<div class="focus-content">
	<div class="innovaters-page">
		<%= render "innovaters"%>
	</div>

	<div class="mission-page">
		<%= render "mission"%>
	</div>
</div>

<div class="skyline-page">
	<%= render "skyline"%>
</div>

<div class="footer">
	<%= render "footer"%>
</div>
