<div class="innovator">
	<div>
		<%= link_to "Home", root_url, class: "home-link" %>
	</div>
	<%= render "#{@innovator.last_name}"%>
	<%= link_to root_url do %>
		<%= image_tag "logo.png", class: "chi-image" %>
	<% end %>
</div>