div.contact-page {
	@include span-columns(12);
}

div.contact-body {
	@include outer-container;

	h4 {
		margin-top: -2.3%;
	}

	a {
		text-decoration: none;
		color: #2495C5;
	}

	.cc-il {
		text-align: center;
		margin: 0 19%;
	}

	.cc-invite {
		border-bottom: solid 2px #888888;
		padding-bottom: 6%;
	}
}

@media (max-width: 797px){
	
	div.contact-body {
	@include outer-container;
	@include span-columns(8);
	@include shift(2);

		.cc-il {
			text-align: center;
			margin: 0;
		}
	}
}