div.footer {
	@include span-columns(12);
	@include background(url("") center no-repeat #FFFFFF);
	@include background-size(auto);
	height: 100%;

	div.contact {
		@include span-columns(6);
		height: 100%;
		
		button {
			background-color: #2495C5;
		}
	}

	div.credits {
		@include span-columns(6);
		height: 100%;
		text-align: right;
	}
}

@media (max-width: 720px){
/*	div.credits {
		visibility: hidden;
	}

	div.contact {
		visibility: hidden;
	}*/
}