div.footer {
	@include span-columns(12);
	height: 100%;

	div.fat-footer {
		@include outer-container;

		div.contact {
			@include span-columns(6);
			height: 100%;
			
			button {
				background-color: #8e94a0;
				border-radius: 20px;
				margin: 4% 17.25%;
				padding: 2% 5%;
				
				a {
					text-decoration: none;
					color: #FFFFFF;
				}
			}

			.cause-logo {
				margin: 0 7%;
			}
		}

		div.credits {
			@include span-columns(6);
			height: 100%;
			text-align: right;
			margin-top: 3%;
			
			p {
				color: #163B6B;

				a {
					color: #E57253;
					text-decoration: none;					
				}
			}
		}
	}
}

@media (max-width: 720px){

	div.footer {
		div.contact {
			@include shift(3);
			margin: 0 15.5%;
		}

		div.credits {
			@include shift(3);
			
			p {
				text-align: center;
			}
		}
	}
}