.innovator-right {
	@include outer-container;
	$pic-height: 130px;
	$pic-width: 129.515625px;
	border-bottom: solid 1px;
	height: 250px;
	margin-bottom: 3em;
	overflow: auto;
	

	.profile {
		@include span-columns(3);
		position: absolute;
		
		.photo {
			@include span-columns(12);
			
			.pic {
				height: $pic-height;
				width: $pic-width;
				border-radius: 20px;
				display: block;
		    margin-left: auto;
		    margin-right: auto;
			}
		}

		.titles {
			@include span-columns(12);
	    margin-left: auto;
	    margin-right: auto;
	    text-align: center;
		}
	}

	.statement {
		@include span-columns(9);
		float: right;
	}
}