.innovator {
	@include outer-container;
	$navigation-background: $dark-gray;
	$pic-height: 200px;
	$pic-width: 200px;
	
	.home-link {
		@include span-columns(12);
		background-color: $navigation-background;
		position: fixed;
		color: white;
		font-size: 1.5em;
		font-weight: bold;
		border-radius: 2px;
		padding-left: 2em;
		margin-bottom: 2em;
		top: -5px;
	}

	.chi-image {
		height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
	}

	.profile {
		@include span-columns(12);
		margin-bottom: 2em;	
		margin-top: 2em;	

		.photo {
			@include span-columns(5);
			margin-left: 2em;
			height: $pic-height;
			width: $pic-width;

			.pic {
				border-radius: 5px;
				height: $pic-height;
				width: $pic-width;
			}
		}

		.titles {
			
			padding-right: 2em;

	    p {
	    	font-size: 1em;
	    	margin-bottom: 0;
	    }
		}
	}

	.statement {
		@include span-columns(12);
		
		padding: 0 2em 0 2em;
	}

	@media (max-width: 570px) {
		
		.profile {
			@include span-columns(12);
			
			.photo {
				@include span-columns(12);
				margin-left: 0;
				padding: 0;
				
				.pic {
					display: block;
			    margin-left: auto;
			    margin-right: auto;
			  }
			}

			.titles {
				@include span-columns(12);
				@include shift(1);
				padding: 0;
		    margin-left: auto;
		    margin-right: auto;
		    margin-top: 1em;
		    text-align: center;
			}
		}

		.statement {
			@include span-columns(12);
		}
	}
}