div.innovaters-page {
	@include span-columns(12);
	background-color: #2495C5;
	color: white;
	text-align: center;
	padding-left:5.5%;
	padding-top: 2%;
	margin: 0 0 0 -5%;
	
	.call-to-action {
		margin: -1.5% 3% 1% 2%;
		background-color: rgba(51, 51, 51, .4);
		border-radius: 12px;
		padding: 1%;
	}

	ul {
		list-style-type: none;
		margin: -4% 0 5% -10.75%;
	}
}

.innovater-images {
	@include outer-container;
	@include span-columns(6);
	margin: 0;
	margin-top: 1%;
}

.pic {
	height: 130px;
	width: 129.515625px;
	border-radius: 20px;
}

@media (max-width: 797px){

	div.innovaters-page {
		padding-right: 2.75%;
		margin: auto;

		.call-to-action {
			margin-top: 2%;
			padding: 2%;
		}

		ul {
			margin: -4% 0 5% -21.5%;
		}
	}

	.innovater-images {
		@include span-columns(6);
		margin: 6% 0 0 0;

	}
}