div.innovaters-page {
	@include span-columns(12);
	background-color: #213759;
	color: #A8B3CE;
	text-align: center;
	padding-left:5.5%;
}

.innovater-images {
	@include outer-container;
	@include span-columns(3);
	margin: 0;
	margin-top: 1%;
}

.pic {


	height: 130px;
	width: 129.515625px;

}

@media (max-width: 797px){
	.innovater-images {
		@include span-columns(6);
		margin: 0;

	}
}