.innovator-left {
	@include outer-container;
	$pic-height: 130px;
	$pic-width: 129.515625px;

	.profile {
		@include span-columns(3);
		@include shift(9);
		position: relative;
		
		.photo {
			@include span-columns(12);
	
			.pic {
				height: $pic-height;
				width: $pic-width;
				border-radius: 3px;
				display: block;
		    margin-left: auto;
		    margin-right: auto;
			}
		}

			.titles {
				@include span-columns(12);
		    margin-left: auto;
		    margin-right: auto;
		    text-align: center;

		    p {
		    	font-size: .75em;
		    	margin-bottom: 0;
		    }
			}
	}

	.statement {
		@include span-columns(8);
		position: absolute;
		margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
	}

	@media (max-width: 1024px) {

		.statement{
			padding-left: 1em;
		}
	}

	@media (max-width: 570px) {
		
		.profile {
			@include span-columns(12);
			@include shift(0);
			position: static;
		}

		.statement {
			@include span-columns(12);
			position: static;
			margin-top: 1.5em;
			padding-right: 1em;
			padding-left: 1em;
			margin-bottom: 1.5em;
		}
	}
}