div.innovators {
	@include span-columns(12);
  $intro-text-width: 60%;
	$pic-height: 130px;
	$pic-width: 129.515625px;

	.slick-prev:before, .slick-next:before {
		color: black;
	}

	div.intro-to-innovators {
	  margin-bottom: 5em;
	  margin-top: 4em;
	  text-align: center;

	  h2 {
	    font-family: $serif;
	    font-weight: 800;
	    margin-bottom: .3em;

	    @include media($large-screen) {
	      font-size: 2em;
	      margin-bottom: .4em;
	    }
	  }

	  h4 {
	    color: lighten($base-font-color, 20);
	    font-size: .9em;
	    font-weight: 300;
	    line-height: 1.4em;
	    margin: 0 auto 1em;

	    @include media($large-screen) {
	      font-size: 1em;
	      line-height: 1.35em;
	      margin: 0 auto 1em;
	      width: $intro-text-width;
	    }    
	  }
	}

	div.uneven {
		@include span-columns(8);
		@include shift(2);

		div.picture-box {
			@include span-columns(12);
				margin: 0 auto 1em;
			
				a {
					@include span-columns(6);				
					height: $pic-height;
					width: $pic-width;
					
					.pic {
						border-radius: 20px;
					}
				}

			.pic-info {
				@include span-columns(6);
		    font-size: .9em;
		    font-weight: 300;
		    line-height: 1.4em;
		    /*margin: 0 auto 1em;*/

		    @include media($large-screen) {
		      font-size: 1em;
		      line-height: 1.35em;
		      /*margin: 0 auto 1em;*/
		      width: $intro-text-width;
		    }
	    }
		}
	}
}

	@media (max-width: 570px) {
		div.uneven {
			
			a {
				@include shift(3);		
			}

			.pic-info {
				@include shift(3);	
			}
		}

	}