div.innovaters-page {
	@include span-columns(12);
	background-color: #2495C5;
	color: white;
	text-align: center;
	padding-left:5.5%;
	padding-top: 2%;
}

.innovater-images {
	@include outer-container;
	@include span-columns(3);
	margin: 0;
	margin-top: 1%;
}

.pic {
	height: 130px;
	width: 129.515625px;
	border-radius: 20px;
}

@media (max-width: 797px){
	.innovater-images {
		@include span-columns(6);
		margin: 6% 0 0 0;

	}
}