.innovator {
	@include outer-container;
	$pic-height: 200px;
	$pic-width: 200px;
	
	.home-link {
		@include span-columns(12);
		padding-left: 2em;
		margin-bottom: 2em;
	}

	.profile {
		@include span-columns(12);
		margin-bottom: 2em;		

		.photo {
			@include span-columns(5);
			margin-left: 2em;
			height: $pic-height;
			width: $pic-width;

			.pic {
				border-radius: 5px;
				height: $pic-height;
				width: $pic-width;
			}
		}

		.titles {
			
			padding-right: 2em;
		}
	}

	.statement {
		@include span-columns(12);
		
		padding: 0 2em 0 2em;
	}

	@media (max-width: 570px) {
		
		.profile {
			@include span-columns(12);
			
			.photo {
				@include span-columns(12);
				margin-left: 0;
				padding: 0;
				
				.pic {
					display: block;
			    margin-left: auto;
			    margin-right: auto;
			  }
			}

			.titles {
				@include span-columns(12);
				@include shift(1);
				padding: 0;
		    margin-left: auto;
		    margin-right: auto;
		    margin-top: 1em;
		    text-align: center;
			}
		}

		.statement {
			@include span-columns(12);
		}
	}
}