div.mission-page {
	@include span-columns(12);
	background-color: #777072;
	border-top: solid 1px;
	border-color: #A8B3CE;
}

div.mission-body {
	@include outer-container;
	@include span-columns(8);
	@include shift(2);

	h4 {
		margin-top: -2.3%;
	}
}