div.mission-page {
	@include span-columns(12);
	background-color: #213759;
	color: #A8B3CE;
	text-align: center;
}

div.mission-body {
	@include outer-container;
	@include span-columns(8);
	@include shift(2);
}