
.white-popup-block {
	@include outer-container;
	@include span-columns(7);
	@include shift(2.5);
	background-color: rgba(5, 94, 133, .9);
	margin-top: 3%;
	border-radius: 15px;
	text-align: center;
		
	.popup-header {
		border-bottom: solid 2px;
		border-radius: 15px 15px 0 0;
		border-color: #2494C4;
		
		.pic {
			margin-top: 1%;
			border-radius: 20px;
		}
	}
}

.statement {
	padding-left:5.5%;
	padding-right:5.5%;
	text-align: left;
}

@media (max-width: 797px){
	.white-popup-block {
		@include span-columns(9);
		@include shift(1.5);
	}
}