
.white-popup-block {
	@include outer-container;
	@include span-columns(9);
	@include shift(1.5);
	background: #8d9196;
	margin-top: 3%;
	border-radius: 25px;
	text-align: center;
		
		.popup-header {
			border-bottom: solid 4px;
			border-radius: 25px 25px 0 0;
			background-color: white;
			
			.pic {
				margin-top: 1%;
			}
		}
}