@mixin background-opacity($color, $opacity: 0.3) {
    background: $color;
    background: rgba($color, $opacity);
}

div.skyline-page {
	@include span-columns(12);
	@include background(url("skyline.jpg") center no-repeat);
	@include background-size(cover);

	.sky-body {
		@include span-columns(4);
		@include shift(2);
		p {
			width: 390px;
			height: 210px;
			margin: 35px 0 90% 0;
			padding: 15px;
			font-family: $monospace;
			color: #404647;
			font-weight: bolder;
			@include background-opacity(#333, 0.5)
		}
	}
}